@import url('https://fonts.googleapis.com/css?family=Roboto');
body,html{
	font-family: 'Roboto', sans-serif;
	/*font-size: 13px;*/
	
}
.navbar-brand,
.navbar-brand:hover{
	color: #fff;
}

.nav-link{
	color: #f2f2f2;
}
.nav-link:hover{
	color: #ccc;
}